.App {
  text-align: center;
  /* padding-left: calc(100vw - 100%); */
  background-color: #FAFAFA;
  font-family: Montserrat;
}

.demo-dao-update {
  overflow: hidden;
  position: relative;
}

.demo-dao-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-dao-image {
  width: 100%;
  height: 100%;
  background-image: url('./assets/partnership.png');
  background-position: center;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, #090909 0%, #3F040B 100%);
}

.demo-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 100%;
  height: auto;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}